In [1]:
import numpy as np
import pandas as pd
import sklearn
import joblib
from stable_bloom_filter import stable_bloom_filter
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [11]:
data = pd.read_csv("Dataset/e_shop_clothing_2008.csv",sep=";")
data.head()

,year,month,day,order,country,session ID,page 1 (main category),page 2 (clothing model),colour,location,model photography,price,price 2,page
0,2008,4,1,1,29,1,1,A13,1,5,1,28,2,1
1,2008,4,1,2,29,1,1,A16,1,6,1,33,2,1
2,2008,4,1,3,29,1,2,B4,10,2,1,52,1,1
3,2008,4,1,4,29,1,2,B17,6,6,2,38,2,1
4,2008,4,1,5,29,1,2,B8,4,3,2,52,1,1

In [20]:
data.rename(columns = {'page 1 (main category)':'category', 'page 2 (clothing model)':'model'}, inplace = True)
sel_col=data[['category','model','colour']]
sel_col.head()

   category model  colour
0         1   A13       1
1         1   A16       1
2         2    B4      10
3         2   B17       6
4         2    B8       4

In [24]:
merge_col=data['category'].astype(str)+data['model']+data['colour'].astype(str)
merge_col.head()

0    1A131
1    1A161
2    2B410
3    2B176
4     2B84
dtype: object

In [23]:
u

0    1A131
1    1A161
2    2B410
3    2B176
4     2B84
dtype: object